@using Chinook.Models;
@using Chinook.Services.Data.Interfaces;
@using Chinook.Services.Data;
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Chinook</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <div class="navbar">
                <a class="navbar-link" href="#">
                    <i class="bi bi-list me-3" style="font-size: 1.25em"></i>Playlist
                </a>
                <div class="navbar-dropdown">
                    <div class="nav-item px-3">
                        
                            <div class="navbar-dropdown">
                                @foreach (var playlist in ExistingPlaylists)
                                {
                                <a class="nav-link" href="@($"playlist/{playlist.PlaylistId}")" @onclick="() => ReloadPage(playlist.PlaylistId)">
                                    <i class="bi bi-music-note-list me-3" style="font-size: 1.25em"></i>@playlist.Name
                                </a>
                                }
                            </div>
                        </div>
                  
                </div>
            </div>
        </div>
    </nav>
</div>
   
@code {
    private bool collapseNavMenu = true;
    [Inject] IPlayListService playListService { get; set; }
    [Inject] IUserService userService { get; set; }
    private string CurrentUserId;
    [Inject] private NavigationManager NavigationManager { get; set; }
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    [CascadingParameter] private Task<AuthenticationState> authenticationState { get; set; }
    private List<Chinook.Models.Playlist> ExistingPlaylists { get; set; } = new List<Chinook.Models.Playlist>();

    protected override async Task OnInitializedAsync()
    {
        CurrentUserId = await userService.GetUserId(authenticationState);
        ExistingPlaylists = await playListService.GetExistingPlaylists(CurrentUserId);
    }
    //private void ReloadPage(int playlistId)
    //{
    //    string url = $"playlist/{playlistId}";
    //    NavigationManager.NavigateTo(url);
    //    NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
    //}
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task ReloadPage(long playlistId)
    {
        var url = $"playlist/{playlistId}";
        NavigationManager.NavigateTo(url, forceLoad: true);
        await Task.Delay(100); // Wait for a short duration to allow the page to reload
    }
  
}
